{% extends "layout/base.html" %}

{% block title %} 403 Forbidden {% endblock title%}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock stylesheets %}

{% block content %}
<div class="error-container">
    <h1>Error: 403</h1>
    <p>Toegang Verboden</p>
    <a href="{{ url_for('main.home') }}">Ga terug naar de homepage</a>
</div>
{% endblock content%}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}