{% extends "layout/base.html" %}

{% block title %} Update FDC {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/dropzone.css')}}">
{% endblock stylesheets %}

{% block content %}
<form id="fdc-upload-form" class="dropzone-box" action="{{url_for('main.update_fdc')}}" method="POST" enctype="multipart/form-data">
    <h2>Upload and attach files</h2>
    <div class="dropzone-area">
        <div class="file-upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
            </svg>
        </div>
        <p>Drag and Drop to Upload</p>
        <input type="file" id="upload-file" name="files" accept=".csv" multiple>
        <p class="message">No Files Selected</p>
    </div>
    <div class="dropzone-actions">
        <button type="reset">Cancel</button>
        <button type="submit">Save</button>
    </div>
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{url_for('static', filename='js/file_upload_fdc.js')}}"></script>
{% endblock javascripts %}