<header>
    <div class="container">
        <h1 class="logo">Recipe Nutrient Calculator</h1>
        <nav>
            <ul>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Admin</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('main.update_nevo') }}">Update NEVO</a>
                            <a href="{{ url_for('main.update_fdc') }}">Update FDC</a>
                            <!-- Add admin protected dropdowns HERE -->
                        </div>
                    </li>
                {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropbtn">User</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('auth.login') }}">Login</a>
                        <a href="{{ url_for('auth.register') }}">Register</a>
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}">Logout</a>
                        {% endif %}
                        <!-- Add user dropdowns HERE -->
                    </div>
                </li>
                
                <!-- Add more dropdown elements HERE -->

                <li><a href="{{ url_for('main.home') }}">Home</a></li>
            </ul>
        </nav>
    </div>
</header>